a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}
$title_font: 'Aleo', serif;
$logo_font: 'Josefin Sans', sans-serif;

header {
  background-image: url('../images/image1.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  height: 821px;
  position: relative;
}
.header_elements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  .header_title {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #ffffff;
  }
  .header_text {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 6.82px;
    color: #ffffff;
    margin: 10px;
  }
}
.search_bar {
  position: relative;
  margin: 3rem;
  #search {
    width: 500px;
    height: 63px;
    border: #ffffff;
    padding: 0;
  }
  input::placeholder {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
  }
  .form_button {
    position: absolute;
    width: 153px;
    height: 63px;
    background: #5474fd;
    border: 2px solid #ffffff;
    font-family: $title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #ffffff;
    &:hover {
      color: #5474fd;
      background-color: #ffffff;
      transition: all 0.2s ease-in;
      border-left: 2px solid #5473fd6a;
    }
    i {
      font-size: 24px;
      padding-left: 1rem;
    }
  }
}

.navigation_bar {
  display: flex;
  position: absolute;
  background: #5474fd;
  bottom: 0;
  width: 100%;
  height: 80px;
  align-items: center;
  &_elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 50%;
      font-family: $title_font;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      align-items: center;
      text-transform: uppercase;
      color: #ffffff;
      li {
        padding: 0.5rem;
      }
      li:hover {
        color: #5474fd;
        background-color: #ffffff;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
      }
    }
    .logo {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      align-items: center;
      letter-spacing: 2.4px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
.checkbtn {
  font-size: 45px;
  max-width: 45px;
  width: 100%;
  color: #ffff;
  float: right;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
.scroll_bar {
  position: absolute;
  bottom: 22%;
  .scroll {
    margin-bottom: 0px;
    font-family: $logo_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.8px;
    color: #ffffff;
  }

  .arrow {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
    margin: auto;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
  }
}
.section_1 {
  background-image: url('../images/background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 685px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.section_1_content {
  display: inline-block;
  max-width: 560px;
  width: 100%;
  margin-right: 3rem;
  margin: 2rem;
  &_title {
    font-family: $title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 3rem;
  }
  &_text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 1.6px;
    color: #e8e8e8;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .explore_button {
    width: 228px;
    height: 63px;
    background: #5474fd;
    border: none;
    font-family: $title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #ffffff;
    &:hover {
      color: #5474fd;
      background-color: #ffffff;
      border-color: #5474fd;
      transition: all 0.2s ease-in;
    }
  }
}
.section_1_images {
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  margin: 2rem;
  .img_1 {
    padding: 5px;
    max-width: 320px;
  }
  .img_2 {
    padding: 5px;
    align-self: flex-end;
    max-width: 320px;
  }
}
.section_2 {
  background: #333333;
  .shape_image {
    display: flex;
    margin: auto;
    transform: translateY(7rem);
  }
}
.section_2_elements {
  max-width: 1100px;
  min-height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    i {
      font-size: 60px;
      margin: 1rem;
      padding: 1rem;
      background-color: #333333;
    }
    .fa-magnifying-glass {
      color: #5474fd;
    }
    .fa-circle-check {
      color: #ff6363;
    }
    .fa-thumbs-up {
      color: #00a2ff;
    }
    p {
      margin: 2rem;
      font-family: 'Aleo';
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 26px;
      text-align: center;
      color: #e8e8e8;
    }
  }
}
.section_3 {
  background-image: url('../images/background3.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
  &_elements {
    max-width: 540px;
    min-height: 371px;
    position: relative;
    background: rgba(35, 35, 35, 0.9);
    position: absolute;
    top: 30%;
    right: 50%;
    margin-left: 2rem;
    h4 {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      align-items: center;
      letter-spacing: 1.5px;
      color: #e8e8e8;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 3rem;
    }
    h2 {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      align-items: center;
      text-transform: uppercase;
      color: #ffffff;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
    }
    p {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      align-items: center;
      color: #e8e8e8;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .booking_button {
      width: 228px;
      height: 63px;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      background-color: #5474fd;
      border: none;
      font-family: $title_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #ffffff;

      &:hover {
        color: #5474fd;
        background-color: #ffffff;
        border-color: #5474fd;
        transition: all 0.2s ease-in;
      }
    }
  }
}
.section_4 {
  background-image: url('../images/background4.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 700px;
  position: relative;
  &_elements {
    max-width: 540px;
    min-height: 371px;
    position: relative;
    background: rgba(35, 35, 35, 0.9);
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: 2rem;
    h4 {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      align-items: center;
      letter-spacing: 1.5px;
      color: #e8e8e8;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 3rem;
    }
    h2 {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      align-items: center;
      text-transform: uppercase;
      color: #ffffff;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 2rem;
    }
    p {
      font-family: $logo_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      align-items: center;
      color: #e8e8e8;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    .booking_button {
      width: 228px;
      height: 63px;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      background-color: #5474fd;
      border: none;
      font-family: $title_font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      color: #ffffff;

      &:hover {
        color: #5474fd;
        background-color: #ffffff;
        border-color: #5474fd;
        transition: all 0.2s ease-in;
      }
    }
  }
}
.section_5 {
  background-image: url('../images/background5.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 731px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &_elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &_content {
    max-width: 668px;
    min-height: 278px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    background-color: #333333;
  }
  h1 {
    font-family: $title_font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 5%;
  }
  h4 {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fefefe;
  }
  p {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #e8e8e8;
    i {
      font-size: 42px;
      color: #5474fd;
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 271px;
  background-color: #232323;
  color: #ffffff;
}
.footer_elements {
  margin-top: 3%;
  h1 {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 3.36px;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 0.5rem;
  }
  p {
    font-family: $logo_font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #ffffff;
    padding: 1rem 0;
  }
  .footer_icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    .fa-linkedin-in {
      color: #5474fd;
    }
  }
}
@media screen and (max-width: 1400px) {
  .navigation_bar ul {
    position: fixed;
    flex-direction: column;
    top: 0;
    background-color: #5474fd;
    justify-content: center;
    width: 40%;
    height: 100vh;
    float: right;
    right: -100%;
    z-index: 1;
    li {
      margin: 3rem;
      z-index: 1;
    }
  }
  .checkbtn {
    display: block;
    float: right;
  }

  #check:checked ~ ul {
    right: 0;
    z-index: 1;
  }
}
@media screen and (max-width: 880px) {
  .form_button {
    max-width: 63px;
    span {
      display: none;
    }
  }

  .navigation_bar ul {
    width: 55%;
    li {
      margin: 3rem 1rem;
    }
  }
  .search_bar .form_button i {
    padding-left: 0px;
  }
  #search {
    max-width: 300px;
    width: 100%;
    margin: 0;
  }
  .shape_image {
    width: 350px;
  }
  .section_1 {
    flex-direction: column;
    &_images {
      max-width: none;
      margin: 2rem;
      align-items: center;
      .img_2 {
        align-self: center;
      }
    }
    &_content h1,
    p {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    button {
      margin-left: 2rem;
    }
  }
  .section_2_elements {
    max-width: 550px;
    min-height: 340px;
    div {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      i {
        font-size: 40px;
        margin: 0.5rem;
        padding: 0.5rem;
      }
      p {
        margin: 2rem;
        font-size: 18px;
      }
    }
  }
  .section_3_elements {
    right: 15%;
  }
  .section_4_elements {
    left: 15%;
  }
  .section_5_elements {
    flex-direction: column;
  }
  .section_5_content {
    max-width: 300px;
    width: 100%;
    padding: 3rem;
    height: min-content;
    margin: auto;
    margin-bottom: 3rem;
  }
  .section_5_img {
    margin: auto;
    width: 100%;
    text-align: center;
  }
  .section_5_title {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  img {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .header_elements {
    .header_title {
      font-size: 25px;
    }
    .header_text {
      font-size: 10px;
    }
    #search {
      width: 200px;
      height: 43px;
    }
  }
  .search_bar input::placeholder {
    font-size: 8px;
  }
  .fa-bars:before,
  .fa-navicon:before {
    font-size: 42px;
  }
  .search_bar {
    margin-left: 0;
    margin-right: 42px;
  }
  .search_bar .form_button {
    width: 42px;
    height: 43px;
  }
  .navigation_bar_elements .logo {
    font-size: 15px;
  }
  .section_1 {
    flex-direction: column;
  }
  .section_1_content {
    max-width: 250px;
  }
  .section_1_content_title {
    font-size: 15px;
  }
  .section_1_content_text {
    font-size: 10px;
  }
  .section_1_content .explore_button {
    width: 100px;
    height: 30px;
    font-size: 7px;
  }
  .section_2_elements {
    flex-direction: column;
    justify-content: space-around;
  }
  .section_2_elements div p {
    margin: 0.5rem;
    font-size: 10px;
  }
  .section_2_elements div i {
    margin: 0.5rem;
    font-size: 20px;
    padding: 0;
  }
  .section_2 .shape_image {
    display: none;
  }
  .section_3_elements,
  .section_4_elements {
    width: 300px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .section_3_elements .booking_button {
    width: 100px;
    height: 30px;
    font-size: 7px;
  }
  .section_4_elements .booking_button {
    width: 100px;
    height: 30px;
    font-size: 7px;
  }
  .section_3_elements h4 {
    font-size: 10px;
  }
  .section_3_elements h2 {
    font-size: 13px;
  }
  .section_3_elements p {
    font-size: 10px;
  }
  .section_3_elements .booking_button {
    width: 100px;
    height: 30px;
    font-size: 7px;
  }

  .section_4_elements h4 {
    font-size: 10px;
  }
  .section_4_elements h2 {
    font-size: 13px;
  }
  .section_4_elements p {
    font-size: 10px;
  }
  .section_5_img img {
    width: 280px;
  }
  .section_5 h1 {
    font-size: 13px;
  }
  .section_5_content {
    max-width: 250px;
    width: 100%;
    padding: 1rem;
    h4 {
      font-size: 10px;
    }
    p {
      font-size: 8px;
      i {
        font-size: 15px;
      }
    }
  }
}
